# VCS gerados
simv
simv.daidir/
csrc/
AN.DB/
work.lib++/
*.vcd
*.fsdb
*.log
*.rc
ucli.key
novas*
verdi*
DVEfiles/
.vlogan*

# Design Compiler gerados
work/
alib-52/
command.log
default.svf
synth/*.ddc
synth/*_syn.v
synth/libs/
