# VCS gerados
simv
simv.daidir/
csrc/
*.vcd
*.vpd
*.fsdb
*.rc
ucli.key
inter.rpt

# Design Compiler gerados
alib-52/
work/
synth/vending_syn.v
synth/vending_syn.ddc
synth/*.ddc
synth/reports/dc_shell.log
*.log
*.pvl
*.syn
*.mr
*.svf
default.svf
command.logAN.DB/
verdiLog/
work.lib++/
novas.conf
novas.rc
sx_crash.sx
sxcmd.log*
# --- Correcoes e adicoes (atividade Formality) ---
AN.DB/
command.log
sx_crash.sx
sxcmd.log*
synth/vending_top_syn.ddc

# Formality gerados
fm/formality*_svf/
fm/*.log
formality*.log
default.svf
synth/libs/
